@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@400;700&family=Borel&family=Cairo&family=EB+Garamond&family=Heebo&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+SC&family=Pacifico&family=Philosopher&family=Protest+Guerrilla&family=Reenie+Beanie&family=Sacramento&family=Shadows+Into+Light&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}


:root {
  --bg-0: rgb(8, 6, 6);
  --bg-1: darkblue;
  --bg-2: rgb(136, 149, 199);
  --accent: white;
  --accent-gradient: linear-gradient(90deg, #276fe4 0%, #9000FF 100%);
  --text-0: white;
  --text-1: skyblue;
  --border-0-transparent: #26262c76;
  --border-0: #26262C;
  --border-1: #0D0C12;
  --border-2: #16151C;
  --border-3: #1E1D23;

  --px-border: 16px;
  --px-page-padding: 300px;
  --px-top-padding: 78px;
}

@media (max-width: 2000px) {
  :root {
    --px-page-padding: 100px;
  }
}

@media (max-width: 800px) {
  :root {
    --px-page-padding: 32px;
  }
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--accent);
}

::selection {
  color: white;
  background: var(--accent);
}

/* Fonts */


/* Normalize CSS across all browsers */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

html {
  color: var(--text-0);
  font-variation-settings: 'MONO' 0, 'CASL' 0, 'wght' 800, 'slnt' 0, 'CRSV' 1;
  background-color: var(--bg-0);
}

@keyframes changeBackground {
  0% {
    background-image: url("./images/2151111135.jpg");
  }
  25% {
    background-image: url("./images/2151111183.jpg");
  }
  50% {
    background-image: url("./images/2151111174.jpg");
  }
  75% {
    background-image: url("./images/logo_make_11_06_2023_224.jpg");
  }
  100% {
    background-image: url("./images/logo_make_11_06_2023_359.jpg"); /* Back to the first image for looping */
  }
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  background-size: cover;
  animation: changeBackground 80s linear infinite; /* Adjust duration for four images */
}


a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  background-color: unset;
  border: none;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[hidden] {
  display: none;
}


